---
# Fix dumb apt
- name: Update apt cache
  apt:
    update_cache: yes
  when: ansible_os_family == 'Debian'

# TODO On EL, cURL is installed by default. On top of that, on AlmaLinux 9, curl
# is broken, and on Fedora, curl-minimal is broken. So just skip it altogether.
# https://bugs.launchpad.net/tripleo/+bug/1953156
- name: Install cURL
  package:
    name: curl
    state: latest
  when: ansible_os_family != 'RedHat'

- name: Install dependencies
  package:
    name: "{{ packages }}"
    state: latest
  vars:
    packages:
      - git
      - socat
      - openssl

- name: Obtain acme.sh sources
  git:
    repo: https://github.com/acmesh-official/acme.sh.git
    dest: "{{ acme_sh_dir }}"
  register: installed_acme_deps
